<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/countrySearch.css">
    <title>Document</title>
  </head>
  <body>
    <form action="/search" method="POST">
      <input
        type="text"
        placeholder="Search Country"
        name="countryName"
        value="<%= searchTerm %>"
      />
      <button type="submit">Search</button>
    </form>

    <% if (error) { %>
      <p><%= error %></p>
    <% } %>

    <% countries.forEach((country) => { %>
      <div class="country">
        <p><strong>Names:</strong></p>

        <p><strong>Common:</strong> <%= country.name.common %></p>
        <p><strong>Official:</strong> <%= country.name.official %></p>

        <p>
          <strong>Language(s):</strong>
          <%= country.languages && Object.values(country.languages).length > 0
            ? Object.values(country.languages).join(", ")
            : "No Language Found." %>
        </p>

        <p>
          <strong>Currency:</strong>
          <%= country.currencies && Object.values(country.currencies).length > 0
            ? Object.values(country.currencies)[0].name
            : "No Currency Found." %>,
          symbol:
          <%= country.currencies && Object.values(country.currencies).length > 0
            ? Object.values(country.currencies)[0].symbol
            : "No symbol found." %>
        </p>

        <p>
          <strong>Capital(s):</strong>
          <%= country.capital && country.capital.length > 0
            ? country.capital[0]
            : "No Capital Found." %>
        </p>
      </div>
    <% }); %>
  </body>
</html>